{% extends 'base.html' %}

{% block head %}
<div class="panel panel--dark">
    <h1 class="display-3 flex flex-center" style="margin-top: 75px;"></h1>
</div>
<div class="row base-margin-top flex flex-center">
    <div class="col-md-6">
        <div class="steps">
            <div class="step active">
                <div class="step__icon">
                    <span class="icon-active"></span>
                </div>
                <div class="step__label">Instructions</div>
            </div>
            <div class="step">
                <div class="step__icon">1</div>
                <div class="step__label">TASK 1</div>
            </div>
            <div class="step">
                <div class="step__icon">2</div>
                <div class="step__label">TASK 2</div>
            </div>
            <div class="step">
                <div class="step__icon">3</div>
                <div class="step__label">TASK 3</div>
            </div>
            <div class="step">
                <div class="step__icon">4</div>
                <div class="step__label">TASK 4</div>
            </div>
            <div class="step">
                <div class="step__icon">5</div>
                <div class="step__label">TASK 5</div>
            </div>
            <div class="step">
                <div class="step__icon">6</div>
                <div class="step__label">TASK 6</div>
            </div>
            <div class="step">
                <div class="step__icon">END</div>
                <div class="step__label">TASK 7</div>
            </div>
        </div>
    </div>
</div>
{% endblock head%}

{% block body%}
<div class="row">
    <div class="col-md-2">
        <ul id="vleft" class="tabs tabs--vertical">
            <li id="vleft-1" class="tab active">
                <a tabindex="0" href="/">INSTRUCTIONS</a>
            </li>
            <li id="vleft-2" class="tab">
                <a tabindex="0" href="/task1">TASK 1</a>
            </li>
            <li id="vleft-3" class="tab">
                <a tabindex="0" href="/task2">TASK 2</a>
            </li>
            <li id="vleft-4" class="tab">
                <a tabindex="0" href="/task3">TASK 3</a>
            </li>
            <li id="vleft-5" class="tab">
                <a tabindex="0" href="/task4">TASK 4</a>
            </li>
            <li id="vleft-6" class="tab">
                <a tabindex="0" href="/task5">TASK 5</a>
            </li>
            <li id="vleft-7" class="tab">
                <a tabindex="0" href="/task6">TASK 6</a>
            </li>
            <li id="vleft-8" class="tab">
                <a tabindex="0">SOLUTIONS</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="vleft-content" class="tab-content">
            <div id="vleft-1-content" class="tab-pane active">
                <p class="text-size-28 text-weight-300">INSTRUCTIONS</p>
            </div>
            <div id="vleft-2-content" class="tab-pane">
                <p>TASK 1</p>
            </div>
            <div id="vleft-3-content" class="tab-pane">
                <p>TASK 2</p>
            </div>
            <div id="vleft-4-content" class="tab-pane">
                <p>TASK 3</p>
            <div id="vleft-5-content" class="tab-pane">
                <p>TASK 4</p>
            <div id="vleft-6-content" class="tab-pane">
                <p>TASK 5</p>
            </div>
            <div id="vleft-7-content" class="tab-pane">
                <p>TASK 6</p>
            </div>
            <div id="vleft-8-content" class="tab-pane">
                <p>SOLUTIONS</p>
            </div>
        </div>
    </div>
</div>
<body class="cui" data-theme="dark">
    <h4 class="text-size-28 text-weight-300 panel panel--dark">Objective</h4>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    The lab's objective is to understand the flow of registration, check-in, and data submission, and see all issues and symptoms as they happen. resolve them when possible or pinpoint the issue and provide proof in terms of logs and commands.
    Resolve issues in order as they are in this document. The goal is to understand the agent flow and identify issue at appropriate step.
    Identifying issue with NTP (and I can tell you now there is an issue with NTP) while troubleshooting registration is not what we want to achieve.
    </p>

    <h4 class="text-size-28 text-weight-300 panel panel--dark dbl-margin-top">Scenario</h4>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    The user is asking for help with the TE agent's installation.  Partner installed agent and had an issue with registering the agent to the portal. The same agent was previously used for POV which is in a different account group.<br>
    During troubleshooting, they made some changes and now the te-agent service is not starting.
    They would also like to schedule tests and get data and need help with that.
    </p>
</body>
{% endblock %}
