{% extends 'base.html' %}

{% block head %}
<h1 class="display-4"><center>WELCOME TO THOUSANDEYES BOOTCAMP TS LAB</center></h1>
{% endblock %}

{% block body%}
<body class="cui" data-theme="dark">
<h4 class="display-4"<center>Objective:</center></h4>
<p>
    The lab's objective is to understand the flow of registration, check-in, and data submission, and see all issues and symptoms as they happen. resolve them when possible or pinpoint the issue and provide proof in terms of logs and commands.
Resolve issues in order as they are in this document.<br>
</p>

<h4 class="display-4"<center>Scenario:</center></h4>
<p>
The user is asking for help with the TE agent's installation.  Partner installed agent and had an issue with registering the agent to the portal. The same agent was previously used for POV which is in a different account group.<br>
During troubleshooting, they made some changes and now the te-agent service is not starting.<br>
They would also like to schedule tests and get data and need help with that.<br>
</p>
</body>
{% endblock %}
