{% extends 'base.html' %}

{% block head %}
<div class="panel panel--dark">
    <h1 class="display-3 flex flex-center" style="margin-top: 75px;"></h1>
</div>
<div class="row base-margin-top flex flex-center">
    <div class="col-md-6">
        <div class="steps">
            <div class="step visited">
                <div class="step__icon">
                    <span class="icon-check"></span>
                </div>
                <div class="step__label">Instructions</div>
            </div>
            <div class="step visited">
                <div class="step__icon">1</div>
                <div class="step__label">TASK 1</div>
            </div>
            <div class="step visited">
                <div class="step__icon">2</div>
                <div class="step__label">TASK 2</div>
            </div>
            <div class="step visited">
                <div class="step__icon">3</div>
                <div class="step__label">TASK 3</div>
            </div>
            <div class="step visited">
                <div class="step__icon">4</div>
                <div class="step__label">TASK 4</div>
            </div>
            <div class="step visited">
                <div class="step__icon">5</div>
                <div class="step__label">TASK 5</div>
            </div>
            <div class="step visited">
                <div class="step__icon">6</div>
                <div class="step__label">TASK 6</div>
            </div>
            <div class="step visited">
                <div class="step__icon">7</div>
                <div class="step__label">TASK 7</div>
            </div>
            <div class="step visited">
                <div class="step__icon">8</div>
                <div class="step__label">TASK 8</div>
            </div>
            <div class="step visited">
                <div class="step__icon">9</div>
                <div class="step__label">TASK 9</div>
            </div>
            <div class="step">
                <div class="step__icon">10</div>
                <div class="step__label">TASK 10</div>
            </div>
            <div class="step">
                <div class="step__icon">END</div>
                <div class="step__label">TASK 11</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body%}
<div class="row">
    <div class="col-md-2">
        <ul id="vleft" class="tabs tabs--vertical">
            <li id="vleft-1" class="tab">
                <a tabindex="0" href="/">INSTRUCTIONS</a>
            </li>
            <li id="vleft-2" class="tab">
                <a tabindex="0" href="/task1">TASK 1</a>
            </li>
            <li id="vleft-3" class="tab">
                <a tabindex="0" href="/task2">TASK 2</a>
            </li>
            <li id="vleft-4" class="tab">
                <a tabindex="0" href="/task3">TASK 3</a>
            </li>
            <li id="vleft-5" class="tab">
                <a tabindex="0" href="/task4">TASK 4</a>
            </li>
            <li id="vleft-6" class="tab">
                <a tabindex="0" href="/task5">TASK 5</a>
            </li>
            <li id="vleft-7" class="tab">
                <a tabindex="0" href="/task6">TASK 6</a>
            </li>
            <li id="vleft-8" class="tab">
                <a tabindex="0" href="/task7">TASK 7</a>
            </li>
            <li id="vleft-9" class="tab">
                <a tabindex="0" href="/task8">TASK 8</a>
            </li>
            <li id="vleft-10" class="tab">
                <a tabindex="0" href="/task9">TASK 9</a>
            </li>
            <li id="vleft-11" class="tab">
                <a tabindex="0" href="/task10">TASK 10</a>
            </li>
            <li id="vleft-12" class="tab active">
                <a tabindex="0" href="/task11">TASK 11</a>
            </li>
            <li id="vleft-13" class="tab">
                <a tabindex="0">SOLUTIONS</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="vleft-content" class="tab-content">
            <div id="vleft-1-content" class="tab-pane">
                <p>INSTRUCTIONS</p>
            </div>
            <div id="vleft-2-content" class="tab-pane">
                <p>TASK 1</p>
            </div>
            <div id="vleft-3-content" class="tab-pane">
                <p>TASK 2</p>
            </div>
            <div id="vleft-4-content" class="tab-pane">
                <p>TASK 3</p>
            <div id="vleft-5-content" class="tab-pane">
                <p>TASK 4</p>
            <div id="vleft-6-content" class="tab-pane">
                <p>TASK 5</p>
            </div>
            <div id="vleft-7-content" class="tab-pane">
                <p>TASK 6</p>
            </div>
            <div id="vleft-8-content" class="tab-pane">
                <p>TASK 7</p>
            </div>
            <div id="vleft-9-content" class="tab-pane">
                <p>TASK 8</p>
            </div>
            <div id="vleft-10-content" class="tab-pane">
                <p>TASK 9</p>
            </div>
            <div id="vleft-11-content" class="tab-pane">
                <p>TASK 10</p>
            </div>
            <div id="vleft-12-content" class="tab-pane active">
                <p class="text-size-28 text-weight-300">TASK 11</p>
            </div>
            <div id="vleft-13-content" class="tab-pane">
                <p>SOLUTIONS</p>
            </div>
        </div>
    </div>
</div>
<body class="cui" data-theme="dark">
<h4 class="text-size-28 text-weight-300 panel panel--dark">Welcome to ThousandEyes TS Lab</h4>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
First thing to check when dealing with agent upgrade issue is to check in HERO and make sure that 'Eyebrow rollout track'
        is set to 'Main'. Early will include beta, non will disable auto updates and late 14/30 days will delay updates for
        14/30 days.
    </p>
<img src="/static/autoupdate_hero.png" style="margin: center" class="flex-center">
     <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    Second think to check is auto updates in te-agent.cfg. This option is not there by default, but customer of support can add it to disable auto-updates.
    Auto-updates set to 0 will disable updates, 1 will enable auto updates.
    </p>
    <pre>
        $ sudo cat /etc/te-agent.cfg
        log-path=/var/log
        log-file-size=10
        log-level=debug
        num-log-files=13
        account-token=k4qcugs8yvi8bmhulm9fflz4al0kt237
        proxy-type=DIRECT
        proxy-location=
        proxy-user=
        proxy-pass=
        proxy-auth-type=
        proxy-bypass-list=
        kdc-user=
        kdc-pass=
        kdc-realm=
        kdc-host=
        kdc-port=88
        kerberos-whitelist=
        kerberos-rdns=1
        crash-reports=1
       <span style="color: red"> auto-updates=0</span>
    </pre>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    As we can see our auto-updates are set to 0 which disable auto-update. Let's change it to 1 or remove this line.
        For changes to take effect you will need to restart te-agent and see if auto update will work after that.
    </p>
    <pre>
        $ sudo vi /etc/te-agent.cfg
        <span style="color: green">auto-updates=1</span>
        $ sudo systemctl restart te-agent
    </pre>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    We can list all available versions with apt list -a. We expect multiple versions available in output.
    </p>
    <pre>
        $ sudo apt list te-agent -a
        Listing... Done
        te-agent/now 1.149.0-1~focal amd64 [installed,local]
    </pre>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    Well that didn't go as planed, lets see how apt works and what else we can check. During installation, we add repository to list of repositories, and we add apt key.<br>
        1. Repository is added to /etc/apt/sources.list.d/thousandeyes.list<br>
        2. GPG key for repository is added to file /etc/apt/trusted.gpg.d/thousandeyes-apt-key.pub.gpg<br>
        3. Gpg key is stored to file but it is also added to /etc/apt/trusted.gpg store<br>
        Let's see how we can inspect these files. First we will start by checking repository:<br>
            1. Does file exist<br>
            2. Does file have correct permissions<br>
            3. Is owner of the files correct<br>
            4. And finally, does file contain required information<br>
        Best way to do this is to compare it to one of your lab devices and compare permissions, owner and file content.
    </p>
    <pre>
        $ sudo ls -la /etc/apt/sources.list.d/thousandeyes.list
        -rw-r--r-- 1 root root 1 Dec  8 09:25 /etc/apt/sources.list.d/thousandeyes.list

        $ sudo cat /etc/apt/sources.list.d/thousandeyes.list
        $ sudo cat /etc/apt/sources.list.d/thousandeyes.list | wc -l
        1
    </pre>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    From above output we can see that:<br>
        1. We should have enough permissions to read from file. <span style="color: green">-rw-r--r--</span><br>
        2. We can see that owner and group is root, which is desired<br>
        3. And file is empty, has only one blank line. This is a good place to start.<br>
        Let's compare it to another agent.
    </p>
    <pre>
    # Working agent output:
        $ sudo ls -la /etc/apt/sources.list.d/thousandeyes.list
        [sudo] password for tetraining:
        -rw-r--r-- 1 root root 44 Oct 27 12:04 /etc/apt/sources.list.d/thousandeyes.list

        $ sudo cat /etc/apt/sources.list.d/thousandeyes.list
        deb https://apt.thousandeyes.com focal main
    </pre>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    Let's add 'deb https://apt.thousandeyes.com focal main' to /etc/apt/sources.list.d/thousandeyes.list, check connectivity, and if we can get the list of agents.
    </p>
    <pre>
        $ echo 'deb https://apt.thousandeyes.com focal main' >  /etc/apt/sources.list.d/thousandeyes.list && ls -la /etc/apt/sources.list.d/thousandeyes.list && cat /etc/apt/sources.list.d/thousandeyes.list
        -rw-r--r-- 1 root root 44 Dec  8 11:38 /etc/apt/sources.list.d/thousandeyes.list
        deb https://apt.thousandeyes.com focal main

        curl https://apt.thousandeyes.com
        html
        Index of /
        bgcolor="white">
        Index of /
        href="dists/">dists/                                             30-Sep-2021 20:10                   -
        href="pool/">pool/                                              04-Apr-2019 23:37                   -
        href="thousandeyes-apt-key.pub">thousandeyes-apt-key.pub                           10-Apr-2019 22:24                 967
        /html

        $ apt list te-agent -a | wc -l
        WARNING: apt does not have a stable CLI interface. Use with caution in scripts.
        32
    </pre>
    <p class="text-size-18 text-weight-300 base-margin-top text-justify">
    Seems like that resolved it and we got 32 agent versions in response. Let's check if our key is in apt.
        We do this with command 'apt-key list'. In case you ever need to add key, you can run command 'apt-key add /path/to/file'.
    </p>
    <pre>
        apt-key list
        /etc/apt/trusted.gpg.d/thousandeyes-apt-key.pub.gpg
        ---------------------------------------------------
        pub   rsa2048 2012-08-13 [SC]
              AA5F BA03 CE4E F309 B7E3  D4E1 C99A 15F5 BE71 8900
        uid           [ unknown] ThousandEyes <builduser@thousandeyes.com>

        /etc/apt/trusted.gpg.d/ubuntu-keyring-2012-archive.gpg
        ------------------------------------------------------
        pub   rsa4096 2012-05-11 [SC]
              790B C727 7767 219C 42C8  6F93 3B4F E6AC C0B2 1F32
        uid           [ unknown] Ubuntu Archive Automatic Signing Key (2012) <ftpmaster@ubuntu.com>

        /etc/apt/trusted.gpg.d/ubuntu-keyring-2012-cdimage.gpg
        ------------------------------------------------------
        pub   rsa4096 2012-05-11 [SC]
              8439 38DF 228D 22F7 B374  2BC0 D94A A3F0 EFE2 1092
        uid           [ unknown] Ubuntu CD Image Automatic Signing Key (2012) <cdimage@ubuntu.com>

        /etc/apt/trusted.gpg.d/ubuntu-keyring-2018-archive.gpg
        ------------------------------------------------------
        pub   rsa4096 2018-09-17 [SC]
              F6EC B376 2474 EDA9 D21B  7022 8719 20D1 991B C93C
        uid           [ unknown] Ubuntu Archive Automatic Signing Key (2018) <ftpmaster@ubuntu.com>

    </pre>
    <div class="row base-margin-top base-margin-bottom">
        <div class="col-md-12 flex flex-right">
            <div class="btn-group">
                <button class="btn btn--ghost" style="background-color:#00bceb; color:black;" onclick="window.location.href =/task10/">Previous Task</button>
                <button class="btn btn--ghost" style="background-color:#495057;" onclick="window.location.href =/task11/">View Question</button>
            </div>
        </div>
    </div>
</body>
{% endblock %}