{% extends 'base.html' %}

{% block head %}
<div class="panel panel--dark">
    <h1 class="display-3 flex flex-center" style="margin-top: 75px;"></h1>
</div>
<div class="row base-margin-top flex flex-center">
    <div class="col-md-6">
        <div class="steps">
            <div class="step visited">
                <div class="step__icon">
                    <span class="icon-check"></span>
                </div>
                <div class="step__label">Instructions</div>
            </div>
            <div class="step visited">
                <span class="step__icon">1</span>
                <div class="step__label">TASK 1</div>
            </div>

            <div class="step visited">
                <div class="step__icon">2</div>
                <div class="step__label">TASK 2</div>
            </div>
            <div class="step visited">
                <div class="step__icon">3</div>
                <div class="step__label">TASK 3</div>
            </div>
            <div class="step active">
                <div class="step__icon">4</div>
                <div class="step__label">TASK 4</div>
            </div>
            <div class="step">
                <div class="step__icon">5</div>
                <div class="step__label">TASK 5</div>
            </div>
            <div class="step">
                <div class="step__icon">6</div>
                <div class="step__label">TASK 6</div>
            </div>
            <div class="step">
                <div class="step__icon">END</div>
                <div class="step__label">TASK 7</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body%}
<div class="row">
    <div class="col-md-2">
        <ul id="vleft" class="tabs tabs--vertical">
            <li id="vleft-1" class="tab">
                <a tabindex="0" href="/">INSTRUCTIONS</a>
            </li>
            <li id="vleft-2" class="tab">
                <a tabindex="0" href="/task1">TASK 1</a>
            </li>
            <li id="vleft-3" class="tab">
                <a tabindex="0" href="/task2">TASK 2</a>
            </li>
            <li id="vleft-4" class="tab">
                <a tabindex="0" href="/task3">TASK 3</a>
            </li>
            <li id="vleft-5" class="tab active">
                <a tabindex="0" href="/task4">TASK 4</a>
            </li>
            <li id="vleft-6" class="tab">
                <a tabindex="0" href="/task5">TASK 5</a>
            </li>
            <li id="vleft-7" class="tab">
                <a tabindex="0" href="/task6">TASK 6</a>
            </li>
            <li id="vleft-8" class="tab">
                <a tabindex="0">SOLUTIONS</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="vleft-content" class="tab-content">
            <div id="vleft-1-content" class="tab-pane">
                <p>INSTRUCTIONS</p>
            </div>
            <div id="vleft-2-content" class="tab-pane">
                <p>TASK 1</p>
            </div>
            <div id="vleft-3-content" class="tab-pane">
                <p>TASK 2</p>
            </div>
            <div id="vleft-4-content" class="tab-pane">
                <p>TASK 3</p>
            <div id="vleft-5-content" class="tab-pane active">
                <p class="text-size-28 text-weight-300">TASK 4</p>
            <div id="vleft-6-content" class="tab-pane">
                <p>TASK 5</p>
            </div>
            <div id="vleft-7-content" class="tab-pane">
                <p>TASK 6</p>
            </div>
            <div id="vleft-8-content" class="tab-pane">
                <p>SOLUTIONS</p>
            </div>
        </div>
    </div>
</div>
<body class="cui" data-theme="dark">
<h4 class="text-size-28 text-weight-300 panel panel--dark">Issues with Registration to ThousandEyes Portal Part 2</h4>
<p class="text-size-18 text-weight-300 base-margin-top text-justify">
Diagnose and provide proof what is the second issues with registration: logs and use any tool that can be proof of the issue.<br><br>
    Hint:
        There are multiple issues with registering the agent to the portal. It is important to understand the flow of connection and diagnostic second issue with registration.
</p>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn--danger--right" ><a style="color: black" href="/solutionsT4">SOLUTION</a></button>
        </div>
    </div>
</body>
{% endblock %}