{% extends 'base.html' %}

{% block head %}
<h1 class="display-3"><center>TASK 1 TE-AGENT SERVICE FAILED TO START</center></h1>
<div class="row" <center>>
    <div class="col-md-6">
        <div class="steps">
            <div class="step visited">
                <div class="step__icon">
                    <span class="icon-check"></span>
                </div>
                <div class="step__label">Instructions</div>
            </div>
            <div class="step active">
                <div class="step__icon">1</div>
                <div class="step__label">TASK 1</div>
            </div>
            <div class="step">
                <div class="step__icon">2</div>
                <div class="step__label">TASK 2</div>
            </div>
            <div class="step">
                <div class="step__icon">3</div>
                <div class="step__label">TASK 3</div>
            </div>
            <div class="step">
                <div class="step__icon">4</div>
                <div class="step__label">TASK 4</div>
            </div>
            <div class="step">
                <div class="step__icon">5</div>
                <div class="step__label">TASK 5</div>
            </div>
            <div class="step">
                <div class="step__icon">6</div>
                <div class="step__label">TASK 6</div>
            </div>
            <div class="step">
                <div class="step__icon">END</div>
                <div class="step__label">TASK 7</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body%}

<div class="row">
    <div class="col-md-3">
        <ul id="vleft" class="tabs tabs--vertical">
            <li id="vleft-1" class="tab">
                <a tabindex="0" href="/">INSTRUCTIONS</a>
            </li>
            <li id="vleft-2" class="tab active">
                <a tabindex="0" href="/task1">TASK1</a>
            </li>
            <li id="vleft-3" class="tab">
                <a tabindex="0" href="/task2">TASK2</a>
            </li>
            <li id="vleft-4" class="tab">
                <a tabindex="0" href="/task3">TASK3</a>
            </li>
            <li id="vleft-5" class="tab">
                <a tabindex="0" href="/task4">TASK4</a>
            </li>
            <li id="vleft-6" class="tab">
                <a tabindex="0" href="/task5">TASK5</a>
            </li>
            <li id="vleft-7" class="tab">
                <a tabindex="0" href="/task6">TASK6</a>
            </li>
            <li id="vleft-8" class="tab">
                <a tabindex="0">SOLUTIONS</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="vleft-content" class="tab-content">
            <div id="vleft-1-content" class="tab-pane">
                <p>INSTRUCTIONS</p>
            </div>
            <div id="vleft-2-content" class="tab-pane active">
                <p>TASK1</p>
            </div>
            <div id="vleft-3-content" class="tab-pane">
                <p>TASK2</p>
            </div>
            <div id="vleft-4-content" class="tab-pane">
                <p>TASK3</p>
            <div id="vleft-5-content" class="tab-pane">
                <p>TASK4</p>
            <div id="vleft-6-content" class="tab-pane">
                <p>TASK5</p>
            </div>
            <div id="vleft-7-content" class="tab-pane">
                <p>TASK6</p>
            </div>
            <div id="vleft-8-content" class="tab-pane">
                <p>SOLUTIONS</p>
            </div>
        </div>
    </div>
</div>
<body class="cui" data-theme="dark">
    <p class="display-4">
    Partner was messing around with agent and services are not starting. We asked partner what changes were done and replay was that no changes were done! <br>
    Troubleshoot the te-agent service down and resolve the issue<br>
    </p>


<button class="btn" onclick="openModal('modal-full')">Full Width</button>
<br>
<div class="modal modal--full hide" id="modal-full">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal('modal-full')"><span class="icon-close"></span></a>
            <div class="modal__header">
                <div class="modal__title">Full Width Modal</div>
            </div>
            <div class="modal__body">
               <p class="subtitle">This is a full width modal</p>
            </div>
            <div class="modal__footer">
                <button class="btn" onclick="closeModal('modal-full')">Ok</button>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}